<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Firm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <th:block th:insert="~{navbar/navbarBusiness}"></th:block>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form action="#" th:action="@{/business}" th:object="${business}" enctype="multipart/form-data" method="POST">
                    <!-- Adding hidden form field to handle update -->
                    <input type="hidden" th:field="*{id}" />
                    <div class="form-group">
                        <label for="name">Nazwa Firmy:</label>
                        <input type="text" th:field="*{name}" class="form-control" placeholder="Nazwa Firmy" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Adres:</label>
                        <input type="text" th:field="*{address}" class="form-control" placeholder="Adres" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Numer konta firmy: (1111 1111 1111 1111)</label>
                        <input type="text" id='accountNumber' th:field="*{accountNumber}" class="form-control" placeholder="Numer Konta" required>
                    </div>
                    <div class="form-group">
                        <label for="logo">Logo:</label>
                        <input type="file" id="photo" name="photo" accept="image/*" enctype="multipart/form-data" >
                    </div>
                    <button type="submit" id="submitButton" class="btn btn-info " disabled> Zapisz Firmę </button>
                </form>
            </div>
        </div>
    </div>
    
    <script>
        // Function to validate accountNumber format
        function validateAccountNumber() {
            var accountNumberInput = document.getElementById('accountNumber');
            var accountNumberValue = accountNumberInput.value;
            var regex = /^\d{4}\s\d{4}\s\d{4}\s\d{4}$/; // Regular expression for the desired format
            var submitButton = document.getElementById('submitButton');
        
            if (regex.test(accountNumberValue)) {
                submitButton.removeAttribute('disabled'); // Enable the submit button
            } else {
                // alert('Account number should be in the format "n-n-n-n" where n is any digit.');
                submitButton.setAttribute('disabled', 'disabled'); // Disable the submit button
                return false; // Prevent form submission``
            }
        
            return true; // Continue with form submission
        }
        
        // Attach the validation function to the input's input event
        var accountNumberInput = document.getElementById('accountNumber');
        accountNumberInput.addEventListener('input', validateAccountNumber);
    </script>
    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
