<div class="row">
    <div class="col">
        <h2>Lista E-Mail:</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Mieszkanie</th>
                        <th>Klient</th>
                        <th>Treść</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="mail : ${mails}">
                        <td th:text="${mail.apartment.address}"></td>
                        <td th:text="${mail.user.email}"></td>
                        <td th:text="${mail.description}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
